@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 648.66px;
    background-image: url(./img/Star2-2.png), url(./img/Star3-2.png), url(./img/Star4-2.png), url(./img/Star5-2.png), url(./img/Vector.png);
    background-position: 38px 97px, 92px 64px, calc(100% - 34px) calc(100% - 28px), calc(100% - 86px) calc(100% - 74px), top 0 right 0;
    background-repeat: no-repeat;
        
        &__title {
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
            text-align: center;
            padding-top: 147px;
        }

        &__text {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            margin-bottom: 36px;
            width: 296px;
        }

        &__button {
            font-size: 16px;
            width: 285px;
        }

        &__button:hover:none {
            background: inherit;
        }
    }
 
    .line {
        height: 51.34px;
        gap: 27.4px;
    
        &-el {
            font-size: 16px;
            line-height:17.6px;
        }
    }

    .main {
        background-image: none;
    }

    .aboutgames {
        display: none;
    }

    .minigames {
        padding-bottom: 48.88px;

        &__title {
        font-size: 40px;
        line-height: 49px;
        margin-bottom: 48px;
        }
    }

    .minigame-block {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-bottom: 24px;

        &__img {
        width: auto;
        }

        &_mobile {
            display: flex;
            flex-direction: column;
        }
    }

    .minigame {
        padding: 29px 29px 32px 29px;
        width: 249px;

        &__name {
            font-size: 32px;
            line-height: 39px;
        }

        &__desc {
            font-size: 16px;
            line-height: 19.5px;
        }

        &__button {
            font-size: 16px;
            width: 100%;
        }

        &__button:hover:none {
            background: inherit;
        }
    }

    .footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
