* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none; 
}

body {
    font-family: "Montserrat", serif;
}

.center {
    max-width: 1200px;
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    background-image: url(./img/Star2.png), url(./img/Star3.png), url(./img/Star4.png), url(./img/Star5.png), url(./img/Group.png);
    background-color: rgb(225, 255, 143);
    background-repeat: no-repeat;
    background-position: 63px 94px, 156px 69px, 1013px 568px, 948px 538px, top 0 right 0;
    height: 800px;
    
    &__title {
        color: $color-text;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        text-align: left;
        padding-top: 196px;
        padding-bottom: 24px;
    }

    &__text {
        color: $color-text;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
        margin-bottom: 48px;
        width: 720px;
    }

    &__button {
        box-sizing: border-box;
        border: 1px solid $color-text;
        border-radius: 60px;
        background: $color-text;
        color:$color-text2;
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        text-align: center;
        padding-left: 66px;
        padding-right: 66px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    &__button:hover {
        background:$color-text2;
        color: $color-text;
    }
}

.main {
    background: $color-text;
    background-image: url(./img/Star11.png), url(./img/Star12.png), url(./img/Star1.png), url(./img/Star7.png), url(./img/Star6.png), url(./img/Star10.png), url(./img/Star8.png);
    background-position: 27.97px 864px, 45.18px 914px, right 0 top 94px, 1281.33px 1563px, 1326.54px 1596px, 1249px 4884px, 1319px 4836px;
    background-repeat: no-repeat;
}

#aboutgames {
    scroll-behavior: smooth;
}

.aboutgames {
    &__title {
        color:$color-text2;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        text-align: left;
        padding-top: 94px;
        margin-bottom: 24px;
    }

    &__text {
        color:$color-text2;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
        margin-bottom: 72px;
    }
}

.games {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    row-gap: 39px;
    column-gap: 32px;
    padding-bottom: 50px;

    &-block {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        gap: 39px;
    }
}

.game {
    border-radius: 30px;
    background:$color-text2;
    width: 378px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: transform 0.5s;

    &-link {
        display: inline-block; 
        text-decoration: none;
    }
    
    &__img {
        border-radius: 30px;
        padding-bottom: 32px;
    }

    &__number { 
        box-sizing: border-box;
        background-color: rgb(247, 247, 247, 1);
        border: 1px solid rgb(247, 247, 247, 1);
        border-radius: 52.58px;
        padding: (8px 16px 10px 16px);
        color: $color-text;
        font-size: 16px;
        font-weight: 500;
        line-height: 110%;
        text-align: left;
        margin-bottom: 16px;
        margin-left: 32px;
    }

    &__name {
        color: $color-text;
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        text-align: left;
        padding-bottom: 36px;
        padding-left: 32px;
    }
}

.game:hover {
    transform: scale(1.1);
}

.game_height1 {
    height: 473px;
}
.game_height2 {
    height: 512px;
}
.game_height3 {
    height: 551px;
}

.minigames {
    padding-top: 46px;
    padding-bottom: 144px;
}

.minigames__title {
    color:$color-text2;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    text-align: left;
    margin-bottom: 72px;
}

.minigame-block {
    background:$color-text2;
    border-radius: 30px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__img {
        border-radius: 30px;
        width: 600px;
    }
}

.minigame { 
    padding: 48px 48px 48px 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 600px;

    &__name {
        color: $color-text;
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
        text-align: left;
        margin-bottom: 24px;
    }

    &__desc {
        color: $color-text;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
        margin-bottom: 36px;
    }

    &__button {
        font: inherit;
        box-sizing: border-box;
        border: 1px solid $color-text;
        border-radius: 60px;
        background: $color-text;
        color:$color-text2;
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        text-align: center;
        padding-left: 66px;
        padding-right: 66px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    
    &__button:hover {
        background:$color-text2;
        color: $color-text;
    }
}

.footer {
    background-color: rgb(189, 237, 53);
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: center;
    padding-top: 61px;
    padding-bottom: 60px;
}

@import "mobile";
@import "vars";